body{
    padding: 0px;
    font-family:'Indie Flower', cursive;
    scroll-behavior: smooth;
    overflow-y:scroll;
    background-color:rgb(47, 94, 247) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: block;
    width:100%;
    background-color: aliceblue;
    color: black;

}
nav ul{
    list-style: none;
    padding: 15px;

}
nav ul li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.25rem;
}
nav ul li a {
    text-decoration: none;
    color: black;

}
.home{
    height:100vh;
    width: 100%;
    color: white;
    transition:all 1s;
}
.batteryStatus{
    text-align: center;
}
.batteryStatus #percentage::after{
    content:"%"
}
.about{
    height: 100vh;
}
.about h1{
    padding: 150px;
    font-size: 4rem;
    text-align: center;
}
.contact{
    height: 100vh;
    color:black;
}
.contact h1{
    padding: 150px;
    text-align: center;
    font-size: 3rem;
}
.panel{
    min-width:100%;
    overflow-x: hidden;
    z-index: 2;
    -webkit-transition: all, 3s ease-in-out;
    -moz-transition: all, 3s ease-in-out;
    -moz-transition: all, 3s ease-in-out;
    transition: all, 3s ease-in-out;
}
.panel:target{
    margin-top: 0%;
    background-image: url(./2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.progress{
    width: 12rem;
    height:8rem !important;
    padding: 15px;
    margin: 280px auto;

}
.progress-bar{
  background-color:#28a745 !important;
}
.p1{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding: 12%;
}
.h1{
    text-align: center;
    font-size: 30px;
}
footer{
    text-align: center;
}
.col-md-4{
    margin-top: -10%;
    padding: 30px;
    position:absolute;
}
.box{
    padding: 30px;
    display: block;
    width: 365px;
    height: 215px;
    border: 1px solid white;
}
.progress::after {
    content: '';
    /* display: block; */
    width: 0.6rem;
    height: 4rem;
    position: absolute;
    border-radius: 0 0.2rem 0.2rem 0;
    border: 10px solid white;
    margin-top: 16px;
    margin-left: 181px;
}